body {
    background-color: $white;
    padding: 1rem 2rem;
    font-family: $font-family-base;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 35px 1fr 1fr;
}
