@import 'variables';
@import '3rdparty/bootstrap/mixins';
@import '3rdparty/bootstrap/custom';

@import '3rdparty/bootstrap/normalize';
@import '3rdparty/font-awesome/font-awesome';

@import 'components/weather';
@import 'components/datetime';

body {
    background-color: $brand-primary;
    padding: 1rem 2rem;
    font-family: $font-family-base;
}
