.calendar-list-holder {
  height: 100%;
  overflow: auto;
}

.calendar-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    padding-right: 45px;
    border-bottom: 1px solid $white;
    position: relative;

    .avatar {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: 1px solid $white;
      box-shadow: 1px 1px 1px rgba($black, .5);
      display: none;
      border-radius: 50%;
    }

    &.author-tengwerda .avatar-tengwerda {
      display: block;
    }

    &.author-alilaanstra .avatar-alilaanstra {
      display: block;
    }
  }
}

.calendar-list__item .item {
  display: flex;

  .datetime {
    flex: 0 0 22%;
    text-align: center;
    margin-right: 1rem;

    &__date {
      font-size: 1.3rem;
    }

    &__time {
      font-size: .8rem;
    }
  }

  .description {
    flex: 1;
  }
}
