.tile {
    color: $white;

    &-hue {
        grid-column: 4 / span 6;
        grid-row: 1 / span 2;
        background-color: $yellow;
    }

    &-weather {
        grid-column: 10 / span 3;
        grid-row: 1 / span 2;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-filler {
        grid-column: 4 / span 9;
        grid-row: 3 / span 4;
        background-color: $blue;
    }

    &-wunderlist {
      grid-column: 1 / 4;
      grid-row: 1 / span 6;
      background-color: $red;
    }
}
