$icons: '01d', '01n', '02d', '02dn', '03d', '03n', '04d', '04n', '10d', '10n', '50d', '50n';
.weather {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 65% 35%;
    grid-template-rows: 35px 1fr 1fr;

    &__datetime {
      grid-row: 2 / span 2;
      grid-column: 1;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid $white;
      flex-direction: column;
    }

    &__temperature {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }

    &__city {
      grid-column: 1 / span 2;
      grid-row: 1;
      border-bottom: 2px solid $white;
      line-height: 2.2rem;
      text-align: center;
    }

    &__status {
      grid-row: 3;
      grid-column: 2;
      display: flex;
      flex-direction: column;
      border-top: 2px solid $white;
    }

    &__status-icon {
      font-size: 3.7rem;
      text-align: center;
      margin-bottom: .5rem;
    }

    &__status-wind {
      font-size: 2rem;
      text-align: center;
    }
}
